<div class="ui container all-wrapper">
  <router-outlet></router-outlet>
  <!--<div *ngIf="!user">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
  <!--<div>-->
    <!--<app-dashboard></app-dashboard>-->
  <!--</div>-->
  <!--<div class="ui two column grid" *ngIf="user">-->
    <!--<div class="four wide column">-->
      <!--<app-user-panel [user]="user" (userUpdated)="handleUserUpdated($event)"></app-user-panel>-->
    <!--</div>-->
    <!--<div class="twelve wide column">-->
      <!--<router-outlet></router-outlet>-->
      <!--&lt;!&ndash;<app-designation-acceptation></app-designation-acceptation>&ndash;&gt;-->

      <!--&lt;!&ndash;<app-login-panel *ngIf="userService.activeUser?.role !== -1"></app-login-panel>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-survey *ngIf="user?.role === 1"></app-survey>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-designation-details></app-designation-details>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-designation-semester-list></app-designation-semester-list>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-designation></app-designation>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-designation-in-semester></app-designation-in-semester>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="ui two column grid">-->

  <!--</div>-->
</div>